* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  position: relative;
  z-index: 0;
}

.filters {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding: 10px;
  border-top: 2px solid rgb(179, 177, 177, 0.2);
  border-bottom: 2px solid rgb(179, 177, 177, 0.2);
  z-index: 0;
}



.filters:hover {
  cursor: pointer;
  background-color: rgb(181, 175, 175, 0.2);
}

.nome,
.data,
.tamanho {
  position: relative;
  word-break: break-all;
  flex: 1;
  padding: 5px;

}

.nome {
  text-align: left;
}

.file-svg {
  padding: 5px;
}


.delete:hover {
  border-radius: 10px;
  background-color: rgb(181, 175, 175, 0.5);
  cursor: pointer;
}

.download {
  visibility: hidden;
}

.svg-points {
  display: flex;
  flex-direction: row;
  flex: 0;
  gap: 10px;
  align-items: end;
}


@media only screen and (max-width: 600px) {
  .download {
    display: none;
  }

  .svg-points {
    justify-content: flex-end;

  }
}