* {
  border: 0;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 55px;
  width: 100%;
  background-color: #61B0A1;
  color: white;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.main-content,
.login-content {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.login-content {
  margin-left: auto;
}

.main-content {}