* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 55px;
  width: 100%;
  background-color: #61B0A1;
  color: white;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.main-content,
.login-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.login-content {
  margin-left: auto;
  width: 90px;
}

.login-content:hover {
  cursor: pointer;
  background-color: rgb(100, 183, 168, 0.2);
}

.main-content {
  margin-right: 0 auto;
  margin-left: 15px;
}